<div class="filtro">
    <a href="#1" (click)="mostrarItem('todo')" class="fitro-boton">Todos</a>
    <a href="#2" (click)="mostrarItem('editorial')" class="fitro-boton">Editorial</a>
    <a href="#3" (click)="mostrarItem('marca')" class="fitro-boton">Marca</a>
    <a href="#4" (click)="mostrarItem('etiquetas')" class="fitro-boton">Etiquetas</a>
    <a href="#5" (click)="mostrarItem('pack')" class="fitro-boton">Packaging</a>
</div>

<article *ngIf="mostarTodo" class="galeria-wrapper">
    <!-- Editorial -->
    <app-proyecto *ngIf="mostrarActual === 'editorial' || mostrarActual === 'todo'"
        [img]="proyectoImg"
        [desc]="proyectoDesc" 
    ></app-proyecto>
    <app-proyecto *ngIf="mostrarActual === 'editorial' || mostrarActual === 'todo'"
        [img]="proyectoImg2"
        [desc]="proyectoDesc2" 
    ></app-proyecto>
    <app-proyecto *ngIf="mostrarActual === 'editorial' || mostrarActual === 'todo'"
        [img]="proyectoImg3"
        [desc]="proyectoDesc3" 
    ></app-proyecto>
    <!-- Etiquetas -->
    <app-proyecto *ngIf="mostrarActual === 'etiquetas' || mostrarActual === 'todo'"
        [img]="proyectoImg4"
        [desc]="proyectoDesc4" 
    ></app-proyecto>
    <app-proyecto *ngIf="mostrarActual === 'etiquetas' || mostrarActual === 'todo'"
    [img]="proyectoImg5"
    [desc]="proyectoDesc5" 
    ></app-proyecto>
    <app-proyecto *ngIf="mostrarActual === 'etiquetas' || mostrarActual === 'todo'"
    [img]="proyectoImg6"
    [desc]="proyectoDesc6" 
    ></app-proyecto>
    <!-- Marca -->
    <app-proyecto *ngIf="mostrarActual === 'marca' || mostrarActual === 'todo'"
    [img]="proyectoImg7"
    [desc]="proyectoDesc7" 
    ></app-proyecto>
    <app-proyecto *ngIf="mostrarActual === 'marca' || mostrarActual === 'todo'"
    [img]="proyectoImg8"
    [desc]="proyectoDesc8" 
    ></app-proyecto>
    <app-proyecto *ngIf="mostrarActual === 'marca' || mostrarActual === 'todo'"
    [img]="proyectoImg9"
    [desc]="proyectoDesc9" 
    ></app-proyecto>
    <!-- Pack -->
    <app-proyecto *ngIf="mostrarActual === 'pack' || mostrarActual === 'todo'"
    [img]="proyectoImg10"
    [desc]="proyectoDesc10" 
    ></app-proyecto>
    <app-proyecto *ngIf="mostrarActual === 'pack' || mostrarActual === 'todo'"
    [img]="proyectoImg11"
    [desc]="proyectoDesc11" 
    ></app-proyecto>
    <app-proyecto *ngIf="mostrarActual === 'pack' || mostrarActual === 'todo'"
    [img]="proyectoImg12"
    [desc]="proyectoDesc12" 
    ></app-proyecto>    
</article>
