<footer class="pie">
    <div class="pie-yo">
        <div class="pie-yo_cont">
            <img src="/assets/marca_100x100.png" alt="Ir al home">
            <p>Mauricio Garabito, Lic. en Diseño Gráfico con más de 15 años de experiencia en proyectos y producción gráfica</p>
            <br>
            <p>Diseñada por Mauricio Garabito - 2020</p>
        </div>            
    </div>
    <div class="pie-twitter">
        <h4>Twitter</h4>
        <a class="twitter-timeline" data-width="450" data-height="450" data-theme="dark" href="https://twitter.com/maurogara?ref_src=twsrc%5Etfw">Tweets by maurogara</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>        
</footer><!-- Termine pie -->