<footer class="pie">
    <div class="pie-yo">
        <div class="pie-yo_cont">
            <img src="/assets/marca_100x100.png" alt="Ir al home">
            <p>Mauricio Garabito, Lic. en Diseño Gráfico con más de 15 años de experiencia en proyectos y producción gráfica</p>
            <br>
            <p>Diseñada por Mauricio Garabito - 2020</p>
        </div>            
    </div>
    <div class="pie-insta">
        <h4>Instagram</h4>
    </div>
    <div class="pie-twitter">
        <h4>Twitter</h4>
    </div>        
</footer><!-- Termine pie -->