.what {
    width: 100%;
    margin: 0px auto;
    background-color: var(--color1);
    border-bottom: 4px solid var(--hover2);
    padding-bottom: 40px;
}

.what h2 {
    color: var(--blanco);
}

.what-texto p {
    font-family: 'Raleway', sans-serif;
    color: var(--blanco);
    font-size: 14px;
    width: 750px;
    height: 500px;    
    line-height: 45px;
}

.what-detalles {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 45px auto;
    max-width: 800px;    
    column-gap: 10px;
    row-gap: 15px;    
}

.what-detalles h3 {
    width: 480px;
    color: var(--hover1);    
}

.what-consultas {
    display: flex;    
    flex-direction: column;
    width: 800px;
    height: 310px;
    margin: 0 auto;
    border-top: 3px solid var(--blanco);
    border-bottom: 3px solid var(--blanco);
}

.what-consultas h2 {
    padding: 0;
    margin: 40px auto;
    line-height: 75px;
    text-align: center;
}

.what-consultas a {
    font-family: 'Raleway', sans-serif;
    margin: 0 auto;    
    color: var(--blanco);
    text-decoration: none;
    text-align: center;
    font-size: 35px;
    transition: all 0.5s ease;
}

.what-consultas a:hover {
    color: var(--hover2);
}