<div class="what">
    <h2 id="servicios">Metodología de trabajo</h2>
    <div class="texto-img-wrapper">
        <div class="what-texto">
            <p>
            Comunicación, compromiso y respeto. Son los tres pilares que considero importantes tanto para cualquier entorno laboral y proyectos.
            <br>
            Escuchando e intercambiando ideas, se pueden identificar las necesidades reales detrás del problema y así optimizar la resolución del proyecto. Comprometerse y adentrarse al proyecto y planificar todo en etapas pre-planteadas al cliente para lograr un avance creciente. Justo con estas dos partes se llega a una instancia de respeto entre ambas partes para lograr los objetivos, crecer y en lo posible confiar para otras tareas.
            <br>
            A continuación dejo una lista de algunas de las areas en las que trabajo que pueden resultar de interes. Pero si hay dudas, me pueden contactar para hablar más del tema.
            </p>
        </div>
        <div class="sec-image">
            <img src="/assets/picture-what.jpeg" alt="imagen de bocetos">
        </div>            
    </div>
    <div class="what-detalles">
        <div class="what-detalles_graf">
            <div class="sub-titulo">
                <img src="/assets/iconos_habilidades.svg" alt="icono what">                
                <h3>Diseño Gráfico</h3>
            </div>
            <div class="sub-text">
                <p>
                Diseño de marca e identidad y material gráfico para empresas. Diseño de folletos y catálogos. Diseño de presentaciones.
                </p>
            </div>
        </div>
        <div class="what-detalles_pack">
            <div class="sub-titulo">
                <img src="/assets/iconos_habilidades.svg" alt="icono what">                
                <h3>Packaging</h3>
            </div>
            <div class="sub-text">
                <p>
                Diseño de envases primario y secundario. Diseño de etiquetas para productos.
                </p>
            </div>
        </div> 
        <div class="what-detalles_dig">
            <div class="sub-titulo">
                <img src="/assets/iconos_habilidades.svg" alt="icono what">                
                <h3>Diseño Digital</h3>
            </div>
            <div class="sub-text">
                <p>Diseño de páginas web y presentaciones.</p>                
                <p>Edición de videos.</p>
            </div>
        </div>
        <div class="what-detalles_produccion">
            <div class="sub-titulo">
                <img src="/assets/iconos_habilidades.svg" alt="icono what">                
                <h3>Producción Gráfica</h3>
            </div>
            <div class="sub-text">
                <p>
                Armado de presupuestos. Busqueda de proveedores, seguimiento y asesoramiento de proyectos en producción.
                </p>
            </div>
        </div>           
    </div>
    <div class="what-consultas">
        <h2>¿Te puedo ayudar? Enviame un mail a</h2>
        <a href="mailto: maurogara.dg@gmail.com" rel="mi mail">maurogara.dg@gmail.com</a>
    </div>    
</div><!-- Termina Servicios -->