.port {        
    width: 100%;
    margin: 0px auto;
    background-color: var(--blanco);
}

.port-texto {
    font-family: 'Raleway', sans-serif;
    color: var(--fondo);
    font-size: 14px;
    width: 750px;
    height: 500px;    
    line-height: 45px;
}