<div class="who" >
    <h2 id="quien wow bounceInUp">Soy <span></span></h2>
    <div class="texto-img-wrapper">
        <div class="who-texto">
            <p>
            Me llamo Mauricio Garabito y soy Licenciado en Diseño Gráfico, recibido en la Universidad de Belgrano. En esas casualidades de la vida rindiendo un final; me ofrecen dedicarme a la docencia. Di clases de Marketing, buscando material de referencia intercambiando experiencias. Lo que primero fue Marketing, luego pasó a ser Habilitación Profesional y se sumó Gestión de Marca.                
            <br>
            No sólo soy docente. Llevo más de 10 años de experiencia en diferentes proyectos. Los cuales abarcan desde identidad corporativa, packaging y editorial. Todos proyectos enfocados con profesionalismo y aprendiendo. Interactuando con clientes y proveedores con los cuales se hizo lo necesario para cumplir con los objetivos de los proyectos. No sólo enfocado con la demanda planteada, sino viendo el problema, buscando alternativas y promoviendo las mejores opciones, recursos y planificaciones.
            </p>
        </div>
        <div class="sec-image">
            <img class="imag-quien_uno" src="/assets/picture-quien.jpg" alt="Imagen quién soy">            
        </div>
    </div>
    <div class="who-habcv">
        <div class="habilidades">
            <div class="sub-titulo">
                <img src="/assets/iconos_habilidades.svg" alt="icono habilidades">                
                <h3>Mis conocimientos</h3>
            </div>
            <div class="sub-text">
                <p>
                    Photoshop / Illustrator / Indesign / Acrobat / Premiere / After Effects.
                    <br>
                    3D Studio Max + VRay / Autocad
                    <br>
                    Incursando en el universo de HTML / CSS / Java. Diseño y programación Web
                </p>
            </div>                
        </div>
        <div class="cv">
            <div class="sub-titulo">
                <img src="/assets/iconos_cv.svg" alt="icono download">
                <h3>Curriculim Vitae</h3>
            </div>
            <div class="sub-text">
                <p>¿Necesitas más información? Te invito a descargar mi CV con mis experiencias y mayores detalles.</p>
                <a class="cv-bajar" href="/assets/Garabito Mauricio_CV.pdf" rel="Descargar mi CV" target="_blank">Descarga mi CV</a>
            </div>                
        </div>
    </div>
    <div class="cierres"></div>
</div><!-- Termina Quién Soy-->