.who {        
    max-width: 100%;
    margin: 0px auto;
    background-color: var(--blanco);
}

.who-texto {
    font-family: 'Raleway', sans-serif;
    color: var(--fondo);
    font-size: 14px;
    width: 47rem;
    height: 31rem;    
    line-height: 45px;
}

.who-habcv {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding-top: 55px;
}

.who-habcv img {
    width: 50px;
    height: 50px;    
}

.habilidades,
.cv {
    width: 31rem;
    height: 18rem;
    margin: 55px;
}

.cv a {    
    width: 12.5rem;
    display: block;
    height: 75px;    
    line-height: 70px;
    text-align: center;
    margin: 20px 20px 0px 220px;
    text-decoration: none;
    border: 2px solid var(--gris);
    font-size: 17px;
    color: var(--fondo);
    transition: all 0.5s ease;    
}

.cv a:hover {
    background-color: var(--color1);
    color: var(--blanco);
}

span::before{
    content: '';
    animation: animate infinite 8s
}

@keyframes animate{
    0% {
        content: 'Diseñador';
    }
    33% {
        content: 'Freelancer';
    }
    66% {
        content: 'Docente';
    }
    100% {
        content: 'Mauricio';
    }
}

.cierres {
    width: 100%;
    height: 15px;
    margin: 0 auto;
    background-color: var(--hover2);
}