.pro {
    background-color: var(--gris);    
    box-shadow: 0 10px 6px -6px var(--color1);
    margin: 20px; 
    &-img {
        max-width: 100%;
    }
    &-desc {
        color: var(--fondo);
        font-family: 'Poppins';
        font-size: 15px;
        padding: 10px;
    }
}
