.proyecto {
    border-radius: 5px;
    background-color: var(--gris);
    border: 1px solid var(--hover2);
    font-family: Poppins;
    &-img {
        max-width: 100%;
    }
    &-info-pro {
        padding-left: 20px;
    }
}
