.pro {
    background-color: var(--gris);    
    box-shadow: 0 10px 6px -6px var(--color1);
    max-width: 100%; 
    &-img {
        max-width: 70%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding: 20px;
    }
    &-desc {
        color: var(--fondo);
        font-family: 'Poppins';
        font-size: 12px;
        padding: 5px;
        text-align: center;
        justify-self: center;
    }
}
