<div class="topmenu">
    <div class="inicio-logo">
        <a href="index.html">
            <img src="/assets/marca_100x100.png" alt="Ir al home">
        </a>
    </div>
    <div class="menu-nav">
        <nav class="menu">
            <ul class="menu-lista">
                <li class="menu-lista_item">
                    <a href="index.html" rel="inicio">Inicio</a>
                </li>
                <li class="menu-lista_item">
                    <a href="#quien" rel="quién soy">Quién Soy</a>
                </li>
                <li class="menu-lista_item">
                    <a href="#servicios" rel="servicios">Servicios</a>
                </li>
                <li class="menu-lista_item">
                    <a href="#portfolio" rel="portfolio">Portfolio</a>
                </li>
                <li class="menu-lista_item">
                    <a href="#" rel="contacto">Contacto</a>
                </li>
            </ul>
        </nav>        
    </div>                   
  </div>
