.inicio-logo {    
    width: 100px;
    height: 100px;
}

.topmenu {
    background-color: var(--fondo);
    margin: 0 auto;
    padding: 8px 0px 8px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.menu-lista {    
    width: 950px;    
    list-style: none;
    justify-content: center;
    margin: 0 auto;
    padding-left: 40px;
}

.menu-lista a {
    float: left;
    padding: 10px 50px;
    display: block;
    color: var(--blanco);
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    text-align: center;
    text-transform: uppercase;    
    transition: all 0.5s ease;       
}

.menu a:hover {
    color: var(--hover1);
}